<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    EXCEL<br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

<div style="background-color:  #002147; color: White; padding: 4px;">
    <h2> TEXT FORMULAS OF EXCEL
</h2> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>1. LEFT()
</h2> </div>

Extracts the first 3 characters from a text

ex.LEFT(A1, 3)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>2. RIGHT()
</h2> </div>

Extracts the last 3 characters from a text

ex.RIGHT(A1,3)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>3. MID()
</h2> </div>

Extracts 4 characters starting from the 2nd character

ex.D(A1, 2, 4)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>4. FIND()
</h2> </div>

Finds the position of "a" in a text

ex.FIND("a", A1)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>5. SEARCH()
</h2> </div>

Case-insensitive search for "apple"

ex.("apple", A1)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>6. SUBSTITUTE()
</h2> </div>

 Replaces "old" with "new"

ex.(A1, "old", "new") R

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>7. PROPER()
</h2> </div>

Capitalizes the first letter of each word

ex.PROPER(A1)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>8. UPPER()
</h2> </div>

Converts text to uppercase
ex.=UPPER(A1)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>9. LOWER()
</h2> </div>

Converts text to lowercase

EX.LOWER(A1)

<div style="background-color:  #002147; color: White; padding: 4px;">
    <h2> DATE & TIME  FORMULAS OF EXCEL
</h2> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>1. TODAY()
</h2> </div>

Returns the current date

ex.=TODAY()

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>2. NOW()
</h2> </div>

Returns the current date and time
ex.=NOW()

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>3. YEAR()
</h2> </div>

Extracts the year from a date

ex.=YEAR(A1)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>4. MONTH()
</h2> </div>

Extracts the month from a date
ex.=MONTH(A1)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>5. DAY()
</h2> </div>

Extracts the day from a date
EX.=DAY(A1)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>6. WEEKDAY()
</h2> </div>

Returns the weekday number (1=Monday)
ex.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>7. EDATE()
</h2> </div>

Adds 3 months to a date

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>8. EOMONTH()
</h2> </div>

Returns the last day of the month

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>2. NOW()
</h2> </div>