<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    EXCEL<br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

<div style="background-color:  #002147; color: White; padding: 4px;">
    <h2> BASIC FORMULAS OF EXCEL
</h2> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>1. CONCATE()
</h2> </div>

The CONCAT() Excel function joins or merges multiple strings or cells with strings into one. For example, if we want to join the age and sex of the athletes, we will use CONCAT(). The function will automatically convert a numeric value from age to string and combine it. 

“24”+“M” = “24M”

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>2. TRIM()
</h2> </div>

The TRIM function removes all spaces from a text string except for single spaces between words.
Trim("  suhana") = suhana

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>3. TEXTJOIN()
</h2> </div>

The TEXTJOIN function combines the text from multiple ranges and/or strings, and includes a delimiter you specify between each text value that is combined

 TEXTJOIN(“, “, TRUE, B2:B4)
 ex suhana khan=suhana,khan

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>4. LEN()
</h2> </div>

Returns the number of character in cells
LEN(B57) ex suhana=6

<div style="background-color:  #002147; color: White; padding: 4px;">
    <h2> Logical & Conditional FORMULAS OF EXCEL
</h2> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>1. IF()
</h2> </div>

Returns "YES" if A1 is greater than 10,otherwise "NO"

=IF (A1>10,"Yes","No")

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>2. IFERROR()
</h2> </div>

Returns"ERROR!" if there is a divission errror

=IFERROR(A1/B1,"Error!")

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>3. NESTEDIF()
</h2> </div>

NESTED IF for multiple conditions

=IF(A1>10,"High",IF(A1>5,"Medium","Low"))

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>4. AND()
</h2> </div>

Returns TRUEE if both conditions are met
=AND(A1>10,B1<5)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>5. OR()
</h2> </div>

Returns TRUE if at least one condition is met
=OR(A1>10,B1<5>)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>6. NOT()
</h2> </div>

Returns the opposite of the condition
=NOT(A1>10)

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________</h1></div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        
</h1> </div>